@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims;
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <MudText Color="Color.Dark">Hello, @context.User.Identity?.Name!</MudText>
        <MudSpacer/>
            <MudButton Color="Color.Secondary" OnClick="BeginLogOut">Log out</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Target="_blank"
                   Variant="Variant.Filled"
        Color="Color.Secondary">
            <a href="authentication/login">Log in</a>
        </MudButton>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
